$image-path: 'assets';
.wrap{
  max-width: 1920px;
  height: auto;
  .wrapContain{
    display: flex;
  }
  .blackBar{
    width: 100%;
    height: 50px;
    background: #000;
  }
  .headerContent{
    width: 100%;
    height: 300px;
    background:url('#{$image-path}/header2.jpg') no-repeat 50% 50%;
    // background:lightgoldenrodyellow;
    // object-fit: contain;
    background-size: cover;
  }
  nav{
    width: 100%;
    height: 67.3px;
    background-color: #ffde00;
    display: flex;
    justify-content: center;
    ul{
      width: 80%;
      height: 100%;
      display: flex;
      margin: 0;
      // justify-content: center;
      align-items: center;
      li{
        // height: 100%;
        display: flex;
        align-items: center;
        justify-content: center;
        flex:1;
        height: 22px;
        border-right:1px solid #000; 
        font-size: 16px;
        font-weight: bold;
        text-align: center;
        &:first-child{
          border-left:1px solid #000; 
        }
        a{
          color: #000;
        }
      }
    }
  }
  .mainArea{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    min-height: 960px;
    background: url('#{$image-path}/bg.png');
    .insideArea{
      width: 70%;
      min-height: 960px;
      background: linear-gradient(to bottom, rgba(255, 255, 255, 0.9), rgba(255, 255, 255, 0.6));
      box-sizing: border-box;
      padding: 4%;
    }
    .linkLeft{
      width: 22%;
      .middleItem{
        cursor: pointer;
        display: flex;
        justify-content: space-between;
        align-items: center;
        width: calc(100% - 40px);
        height: 80px;
        padding: 0 20px;
        // font-size:20px;
        font-size:1.2rem;
        font-weight: bold;
        background: linear-gradient(to bottom, rgba(199, 199, 199, 0.5), rgba(250, 250, 250, 0.5));
        &.active{
          background: #fff;
        }
      }
      .leafItem{
        position: relative;
        cursor: pointer;
        display: flex;
        align-items: center;
        background: #fff;
        height: 60px;
        padding: 0 20px;
        // font-size: 14px;
        font-size: .9rem;
        &::after{
          content: '';
          position: absolute;
          bottom: 0;
          left:15px;
          height: 1px;
          width: 85%;
          background: #b2b2b2;
        }
        &:nth-last-child(1){
          &::after{
            display: none;
          }
        }
      }
    }
    .viewRight{
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      text-align: justify;
      line-height: 1.5;
      width: 78%;
      min-height: 720px;
      padding: 70px 75px;
      background: #fff;
      box-shadow: 5px 7px 6px 0 rgba(0, 0, 0, 0.16);
      .contentImg{
        width: 100%;
      }
      p{
        margin-bottom: 20px;
        &.firstRow{
          margin-top:30px;
        }
      }
      .title{
        display:flex;
        align-items: center;
        justify-content:space-between;
        margin-bottom:30px;
      }
    }
  }
}
h3{
  margin-bottom:10px ;
}