$image-path: 'assets';
.wrap{
  max-width: 1920px;
  height: auto;
  .wrapContain{
    display: flex;
    flex-direction: column;
  }
  .headerContent{
    width: 100%;
    height: 300px;
    background:url('#{$image-path}/header5.jpg') no-repeat 50% 50%;
    // background:lightgoldenrodyellow;
    // object-fit: contain;
    background-size: cover;
    // img{
      // width: 100%;
      // height: 100%;
      // object-fit: cover;
    // }
  }
  nav{
    width: 100%;
    height: 67.3px;
    background-color: #923b3e;
    // background-color: #ffde00;
    display: flex;
    justify-content: center;
    ul{
      // width: 80%;
      width: 100%;
      height: 100%;
      display: flex;
      margin: 0;
      overflow-x: scroll;
      align-items: center;
      li{
        // height: 100%;
        display: flex;
        align-items: center;
        justify-content: center;
        flex:1;
        min-width: 130px;
        height: 22px;
        border-right:1px solid #000; 
        font-size: 16px;
        font-weight: bold;
        text-align: center;
        &:first-child{
          border-left:1px solid #000; 
        }
        a{
          white-space: nowrap;
          color: #c4c4c4;
        }
      }
    }
  }
  .mainArea{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    min-height: 960px;
    background: url('#{$image-path}/bg.png');
    .insideArea{
      width: 100%;
      min-height: 960px;
      background: rgba(255, 255, 255, 0.5);
      // background: linear-gradient(to bottom, rgba(255, 255, 255, 0.9), rgba(255, 255, 255, 0.6));
      box-sizing: border-box;
      padding: 4%;
    }
    .linkLeft{
      display: flex;

      // width: 22%;
      .linkGroup{
        width: 20%;
      }
      .middleItem{
        cursor: pointer;
        display: flex;
        justify-content: space-between;
        align-items: center;
        // width: calc(100% - 40px);
        min-height: 80px;
        padding: 0 20px;
        // font-size:20px;
        font-size:1.2rem;
        font-weight: bold;
        background: #e5e5e5;
        // background: linear-gradient(to bottom, rgba(199, 199, 199, 0.5), rgba(250, 250, 250, 0.5));
        margin-right: .5em;
        border-radius: 5px 5px 0 0;
        &.active{
          background: #fff;
        }
      }
      .noLeaf{
        width: 12%;
      }
      .leafItem{
        width: calc(100% - .5em);
        position: relative;
        cursor: pointer;
        display: flex;
        align-items: center;
        background: #fff;
        height: 80px;
        padding: 0 20px;
        // font-size: 14px;
        font-size: .9rem;
        &::after{
          content: '';
          position: absolute;
          bottom: 0;
          left:15px;
          height: 1px;
          width: 85%;
          background: #b2b2b2;
        }
        &:nth-last-child(1){
          &::after{
            display: none;
          }
        }
      }
    }
    .viewRight{
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      text-align: justify;
      line-height: 1.5;
      // width: 90%;
      min-height: 720px;
      max-height: 1000px;
      // overflow: auto;
      padding: 70px 55px;
      background: #fff;
      box-shadow: 5px 7px 6px 0 rgba(0, 0, 0, 0.16);
      .contentImg{
        width: 100%;
      }
      >div{
      &::-webkit-scrollbar-track
        {
          -webkit-box-shadow: inset 0 0 6px #fff;
          background-color: #fff;
        }
        
        &::-webkit-scrollbar
        {
          width: 6px;
          background-color: #fff;
        }
        
        &::-webkit-scrollbar-thumb
        {
          border-radius: 10px;
          background-color: #ccc;
        }
        &:first-child{
          overflow: auto;
          padding: 20px 20px;
        }
      }
      p{
        margin-bottom: 20px;
        &.firstRow{
          margin-top:30px;
        }
      }
      .title{
        display:flex;
        width: 100%;
        align-items: flex-end;
        justify-content:space-between;
        margin:20px 0;
        color: #000;
        span{
          display: flex;
          justify-content: flex-end;
          align-items: flex-end;
          min-width: 80px;
        }
      }
      table{
        width: 100%;
        text-align: left;
        word-break:break-all; 
        word-wrap:break-all;
        tr{
          vertical-align: unset;
        }
        td,th{
          // transform: scale(.8);
          font-size: 10px;
          padding: 2px 6px;
        }
        p{
          font-size: initial;
        }
        .tableCenter{
          text-align: center;
        }
        .tableRight{
          text-align: right;
        }
      }
    }
  }
}
.customFz{
  font-size: 10px;
}
.videoContent{
  text-align: center;
}
h3{
  margin-bottom:10px ;
}
.bkt{
  font-family: '標楷體' !important;
}
.bui{
  padding: 0 4%;
  p{
    font-family: '標楷體' !important;
  }
}
// @media (max-width: 1200px) { 
//   .wrap{
//     width: 1920px;
//   }
// }